[Desktop Entry]
Type=Application
Name=Restart into Recovery
Name[de]=In die Recovery neu starten
Comment=Repair this system with the Arch OS Recovery
Comment[de]=Dieses System mit der Arch OS Recovery reparieren
Keywords=Arch OS;Recovery;Repair;Rescue;Rollback;Snapshot;
Keywords[de]=Arch OS;Recovery;Reparieren;Rettung;Zurücksetzen;Snapshot;
Icon=applications-system
Categories=System;
Exec=sh -c "zenity --question --title=\\"\\$0\\" && systemctl reboot --boot-loader-entry={{ENTRY}}" %c
